Федоров Андрей (#37)

гр. 3530903/70302

In [657]:
import numpy as np
import pandas as pd

In [658]:
unRatedMark = -1
username = 'User 37'
sim_col = 'sim_col'
knn = 4
data = pd.read_csv('./csv/data.csv', index_col ='Unnamed: 0', delimiter=', ', engine='python')
data.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 21,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30
User 1,-1,4,1,5,-1,-1,-1,1,3,-1,...,2,4,-1,-1,3,4,-1,2,4,1
User 2,4,5,2,3,3,4,-1,5,3,2,...,-1,2,-1,3,1,5,-1,5,2,2
User 3,4,2,5,4,1,5,-1,3,5,2,...,4,-1,5,4,5,1,2,1,-1,3
User 4,5,-1,2,-1,-1,2,4,3,2,3,...,-1,2,2,2,2,5,3,2,5,5
User 5,4,3,3,3,5,3,3,4,5,2,...,4,5,2,-1,3,5,1,-1,5,-1

# Часть 1. 
**Для заданного пользователя (совпадает с вашим номером в таблице) рассчитать оценки для всех фильмов, которые он не оценил.**

In [659]:
#Добавим столбец sim_userX с будущими оценками схожести
df_sim_userX = data.assign(sim_col = unRatedMark)

In [660]:
#Прогонимся по всем User'ам и вычислим для каждого сходство с искомым
for user in df_sim_userX.drop(username).index:       
    temp = df_sim_userX.loc[[user, username]].transpose()
    temp = temp.loc[(temp[user] != unRatedMark) &  (temp[username] != unRatedMark)]
    temp_user = temp[user].to_numpy()
    temp_username = temp[username].to_numpy()
    
    sim = sum(temp_user * temp_username)/(np.sqrt(sum(temp_user*temp_user)) * np.sqrt(sum(temp_username * temp_username)))
    sim = round(sim, 3)
    df_sim_userX.loc[user, sim_col] = sim


df_sim_userX.head(40)

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30,sim_col
User 1,-1,4,1,5,-1,-1,-1,1,3,-1,...,4,-1,-1,3,4,-1,2,4,1,0.843
User 2,4,5,2,3,3,4,-1,5,3,2,...,2,-1,3,1,5,-1,5,2,2,0.895
User 3,4,2,5,4,1,5,-1,3,5,2,...,-1,5,4,5,1,2,1,-1,3,0.839
User 4,5,-1,2,-1,-1,2,4,3,2,3,...,2,2,2,2,5,3,2,5,5,0.940
User 5,4,3,3,3,5,3,3,4,5,2,...,5,2,-1,3,5,1,-1,5,-1,0.866
User 6,2,-1,3,3,3,3,4,2,-1,1,...,-1,1,3,-1,4,4,5,1,2,0.808
User 7,4,1,4,4,1,4,5,2,2,-1,...,5,1,3,4,-1,4,3,1,4,0.828
User 8,-1,5,5,3,3,3,3,3,1,2,...,3,1,3,2,1,4,-1,1,3,0.832
User 9,1,2,3,1,5,3,3,1,2,5,...,2,3,-1,1,4,3,1,5,3,0.871
User 10,5,-1,1,-1,3,3,4,1,1,2,...,1,4,1,4,5,2,3,-1,1,0.826
User 11,-1,5,-1,1,5,2,4,2,4,-1,...,-1,3,4,1,2,4,2,5,1,0.799
User 12,5,4,4,-1,3,-1,5,5,5,3,...,4,1,5,3,5,4,3,5,5,0.914
User 13,1,1,4,5,4,3,5,5,5,4,...,3,2,-1,4,3,-1,5,5,4,0.871
User 14,3,5,4,-1,1,2,4,-1,-1,4,...,1,5,4,1,-1,3,1,5,3,0.897
User 15,3,5,3,4,4,-1,4,4,2,1,...,2,5,1,3,4,-1,-1,5,4,0.892
User 16,3,3,5,3,2,2,5,-1,4,4,...,3,4,-1,4,4,4,2,4,4,0.879
User 17,1,1,-1,-1,4,4,-1,-1,1,1,...,2,4,2,2,-1,5,4,5,3,0.834
User 18,4,3,3,2,1,5,3,4,5,2,...,4,5,2,1,1,2,1,-1,4,0.835
User 19,4,3,5,5,4,4,-1,-1,4,4,...,3,1,2,-1,2,5,1,2,1,0.808
User 20,2,-1,2,5,-1,-1,1,-1,2,-1,...,2,4,1,-1,2,2,3,3,4,0.769
User 21,-1,2,1,2,3,5,4,1,2,3,...,5,1,2,5,5,4,4,2,-1,0.807
User 22,2,4,4,-1,4,-1,4,5,5,4,...,5,1,-1,-1,5,2,2,5,-1,0.905
User 23,5,1,-1,5,5,-1,-1,5,-1,3,...,-1,3,1,5,-1,1,5,3,5,0.725
User 24,5,4,2,-1,2,1,3,2,1,2,...,2,2,1,3,2,5,2,5,4,0.841
User 25,3,1,-1,4,2,-1,4,1,5,3,...,-1,5,5,2,-1,1,3,1,2,0.828
User 26,1,5,-1,3,-1,2,4,-1,4,2,...,3,1,5,2,-1,2,2,4,-1,0.886
User 27,4,4,3,-1,4,5,3,4,3,-1,...,3,4,3,-1,3,2,3,2,5,0.816
User 28,-1,-1,4,2,3,2,1,4,-1,1,...,3,2,1,4,3,2,4,2,1,0.797
User 29,3,2,4,2,2,2,4,1,3,3,...,-1,3,5,5,5,4,-1,5,-1,0.906
User 30,2,3,5,4,1,3,3,2,3,1,...,5,1,1,4,5,3,1,3,5,0.875
User 31,3,5,4,5,1,3,3,3,4,1,...,4,4,3,5,2,2,4,4,-1,0.886
User 32,5,4,5,4,1,5,5,4,4,-1,...,2,-1,2,3,2,1,3,1,-1,0.805
User 33,5,3,4,4,2,1,3,1,3,3,...,1,5,5,2,-1,2,1,4,2,0.803
User 34,-1,5,-1,-1,1,-1,5,1,1,5,...,3,4,-1,3,1,5,2,2,5,0.845
User 35,4,-1,5,4,2,2,3,1,1,5,...,1,2,1,5,5,1,-1,5,5,0.858
User 36,3,2,-1,5,5,1,5,2,1,5,...,2,4,3,4,5,2,1,3,4,0.842
User 37,-1,4,-1,3,1,4,5,4,3,3,...,3,-1,5,-1,5,2,3,5,-1,-1.000
User 38,3,-1,1,4,2,3,4,-1,5,3,...,4,3,-1,1,4,3,-1,-1,4,0.910
User 39,1,-1,5,-1,1,2,3,-1,2,5,...,2,5,2,3,1,2,1,2,1,0.806
User 40,-1,1,1,1,1,-1,4,1,-1,3,...,5,4,2,3,4,5,5,3,2,0.848

In [661]:
#Это для ответа
answ = data.loc[username][data.loc[username] == unRatedMark].to_frame()
print(answ)

          User 37
Movie 1        -1
Movie 3        -1
Movie 13       -1
Movie 23       -1
Movie 25       -1
Movie 30       -1

In [662]:
#Список непросмотренных фильмов
unRated_movies = list(data.loc[username][data.loc[username] == unRatedMark].index)

In [663]:
#Отсортируем строки по убыванию сходства
df_sim_userX = df_sim_userX.sort_values(by=sim_col, ascending = False)
df_sim_userX.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30,sim_col
User 4,5,-1,2,-1,-1,2,4,3,2,3,...,2,2,2,2,5,3,2,5,5,0.940
User 12,5,4,4,-1,3,-1,5,5,5,3,...,4,1,5,3,5,4,3,5,5,0.914
User 38,3,-1,1,4,2,3,4,-1,5,3,...,4,3,-1,1,4,3,-1,-1,4,0.910
User 29,3,2,4,2,2,2,4,1,3,3,...,-1,3,5,5,5,4,-1,5,-1,0.906
User 22,2,4,4,-1,4,-1,4,5,5,4,...,5,1,-1,-1,5,2,2,5,-1,0.905

In [664]:
#Для каждого непросмотренного фильма найдём "ближайших соседей" с имеющейся оценкой
for movie in unRated_movies:
    temp = df_sim_userX.loc[df_sim_userX.loc[:][movie] != unRatedMark][movie]
    temp = np.average(temp[0:knn].to_numpy())
    answ.loc[movie] = temp

In [665]:
print(answ)

          User 37
Movie 1      4.00
Movie 3      2.75
Movie 13     3.75
Movie 23     2.25
Movie 25     2.75
Movie 30     4.25

# **Часть 2.**
**Порекомендовать заданному пользователю 1
фильм, который он посмотрел бы в выходной дома,
если такой фильм есть в данных.**

In [666]:
movie_names = pd.read_csv('./csv/movie_names.csv', delimiter=', ', engine='python')
context_day = pd.read_csv('./csv/context_day.csv', index_col=0, delimiter=', ', engine='python')
context_place = pd.read_csv('./csv/context_place.csv', index_col=0, delimiter=', ', engine='python')

> Я не придумал ничего лучше, чем просто посчитать для каждого контекста схожесть как кол-во совпадающих на общее кол-во
имеющихся

> Посчитать общую схожесть, учитывая схожесть оценок за фильмы

> И "высказать решение" большинства ближайших соседей по каждому контексту

In [667]:
#Добавим оценки схожести для context_place
m_context_place = context_place.assign(sim_col = str(unRatedMark))

#Прогонимся по всем User'ам и вычислим для каждого сходство с искомым
for user in m_context_place.drop(username).index:
    temp = m_context_place.loc[[user, username]].transpose()
    temp = temp.loc[(temp[user] != str(unRatedMark)) &  (temp[username] != str(unRatedMark))]
    temp_user = temp[user].to_numpy()
    temp_username = temp[username].to_numpy()
    sim = round(sum(temp_user == temp_username) / len(temp_user), 3)
    m_context_place.loc[user, sim_col] = sim
m_context_place.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30,sim_col
User 1,-1,h,h,c,-1,-1,-1,v,h,-1,...,c,-1,-1,c,c,-1,v,h,c,0.353
User 2,v,v,v,v,h,c,-1,v,h,c,...,c,-1,c,h,v,-1,v,v,c,0.316
User 3,v,h,c,c,c,c,-1,h,c,v,...,-1,v,v,h,h,h,v,-1,v,0.316
User 4,v,-1,h,-1,-1,h,v,v,c,h,...,v,h,h,c,v,c,v,v,c,0.438
User 5,c,c,c,c,v,h,v,v,c,h,...,c,v,-1,h,c,v,-1,h,-1,0.364

In [668]:
#Добавим оценки схожести для context_day тут для решения конкретной задачи, будет удобно
#заменить Субботу и Воскресенье на одинаковое значение, например 'End'
#по такому же принципу заменить будни, пусть будет 'Day'
m_context_day = context_day.assign(sim_col = str(unRatedMark))
m_context_day = m_context_day.replace(['Mon','Tue','Wed','Thu','Fri'], 'Day')
m_context_day = m_context_day.replace(['Sat', 'Sun'], 'End')

In [669]:
#Прогонимся по всем User'ам и вычислим для каждого сходство с искомым
for user in m_context_day.drop(username).index:
    temp = m_context_day.loc[[user, username]].transpose()
    temp = temp.loc[(temp[user] != str(unRatedMark)) &  (temp[username] != str(unRatedMark))]
    temp_user = temp[user].to_numpy()
    temp_username = temp[username].to_numpy()
    sim = round(sum(temp_user == temp_username) / len(temp_user), 3)
    m_context_day.loc[user, sim_col] = sim
m_context_day.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30,sim_col
User 1,-1,Day,Day,Day,-1,-1,-1,Day,End,-1,...,Day,-1,-1,End,End,-1,Day,Day,Day,0.765
User 2,Day,Day,Day,End,End,Day,-1,Day,Day,Day,...,End,-1,Day,Day,Day,-1,End,Day,Day,0.526
User 3,Day,Day,End,Day,End,Day,-1,Day,Day,Day,...,-1,Day,Day,Day,Day,Day,Day,-1,End,0.632
User 4,Day,-1,Day,-1,-1,End,End,Day,Day,Day,...,End,Day,End,Day,End,Day,Day,End,End,0.438
User 5,Day,Day,Day,Day,Day,Day,End,Day,Day,Day,...,Day,Day,-1,Day,Day,End,-1,Day,-1,0.682

In [670]:
#Перемножим все схожести
for user in df_sim_userX.drop(username).index:       
    df_sim_userX.loc[user, sim_col] = round(df_sim_userX.loc[user, sim_col] * m_context_place.loc[user, sim_col] * m_context_day.loc[user, sim_col], 3)

#Отсортируем строки по убыванию сходства
df_sim_userX = df_sim_userX.sort_values(by=sim_col, ascending = False)
df_sim_userX.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30,sim_col
User 25,3,1,-1,4,2,-1,4,1,5,3,...,-1,5,5,2,-1,1,3,1,2,0.290
User 24,5,4,2,-1,2,1,3,2,1,2,...,2,2,1,3,2,5,2,5,4,0.252
User 34,-1,5,-1,-1,1,-1,5,1,1,5,...,3,4,-1,3,1,5,2,2,5,0.247
User 27,4,4,3,-1,4,5,3,4,3,-1,...,3,4,3,-1,3,2,3,2,5,0.237
User 10,5,-1,1,-1,3,3,4,1,1,2,...,1,4,1,4,5,2,3,-1,1,0.234

In [671]:
#Это для ответа.
answ2 = answ.copy()

#Будем плюсовать Наш рейтинг, [1 в выходной | 0 в будний], [1 для дома | 0.5 в гостях | 0 в кинотеатре]

#Для каждого непросмотренного фильма найдём "ближайших соседей" с имеющейся оценкой
for movie in unRated_movies:
    for user in df_sim_userX.drop(username).index.values[0:knn]:
        if m_context_day.loc[user, movie] == 'End':
            answ2.loc[movie] += 1
        if m_context_place.loc[user, movie] == 'h':
            answ2.loc[movie] += 1
        elif m_context_place.loc[user, movie] == 'v':
            answ2.loc[movie] += 0.5
            
answ2 = answ2.sort_values(by=username, ascending = False)
print(answ2.index[0])

Movie 30

In [672]:
#Запись в json
result = {
    'user': username,
    '1': dict(zip(answ.index.tolist(), answ.values.tolist())),
    '2': dict(zip(answ2.index.tolist(), answ2.values[0].tolist()))
}
print(result)
import json
with open('result.json', 'w') as fp:
    json.dump(result, fp, indent=4)

{'user': 'User 37', '1': {'Movie 1': [4.0], 'Movie 3': [2.75], 'Movie 13': [3.75], 'Movie 23': [2.25], 'Movie 25': [2.75], 'Movie 30': [4.25]}, '2': {'Movie 30': 8.75}}